body, html {
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    background: url(../assets/images/wallpaper_general.jpg) no-repeat center center fixed;
    background-size: cover;
    font-weight: 300;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
}

@font-face {
	font-family: 'fat';
	src: url("/fonts/fonts/AdventuresUnlimited-ScriptBold.ttf");
  }
h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 34px;
	color: #333;
	
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #8eb640;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #8eb640;
	margin: 0;
	margin-bottom: 40px;
	border: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-family: 'Dancing Script', cursive;
	font-size: 36px;
	color: #8eb640;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #ddd;
	font-weight: 500;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #8eb640;
}
.on {
	background-color: #262626 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #8eb640 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #8eb640;
	border-color: #8eb640;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	margin-bottom: 70px;
}
.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
	color: rgba(0, 0, 0, 0.8);
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #d3db2e;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #628d0f;
}
/* Header Section */
.intro {
    display: table;
    width: 100%;
    padding: 0;
    background-color: #e5e5e5;
    background-image: url(../assets/images/image_front_page.png); /* Ruta de la imagen */
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */
   

	 /* Opcional: Ajusta la altura al 100% del viewport */
}

.intro .overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}



.intro h1 {
	font-family: 'arial', cursive;
	color: #b5cd02;
	font-size: em;
	font-weight: 700;
	margin-top: 0;
	font-size: 150%;
	margin-bottom: 10px;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;

}
.intro p {
	color: #fff;
	font-size: 120%;
	font-weight: 300;
	line-height: 0.8;
	margin-top: 10px;
	margin-bottom: 40px;
	max-width: 70%;
}
header .intro-text {
	padding-top: 250px;
	padding-bottom: 50px;
	text-align: left;
	padding-left: 40px;
	line-height: 0.8;
	
	
}
header .intro-text img{
	width: 30%;

}


@media screen and (max-width: 968px) {
	
	
	
.intro .overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
	
	.intro h1 {
		font-family: 'arial', cursive;
		color: #b5cd02;
		font-size: 20px;
		font-weight: 750;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.intro span {
		color: #a7c44c;
		font-weight: 600;
	
	}
	.intro p {
		color: #ffffff;
		font-size: 10px;
		font-weight: 300;
		max-width: 200px;
		line-height: 0.8;
		margin-top: 10px;
		
	}
	header .intro-text {
		margin-top: 150px;
		padding-top: 280px;
		padding-bottom: 50px;
		text-align: left;
		padding-left: 20px;
		line-height: 0.8;
		
		
	}
	header .intro-text img{
		max-width: 50%;
	
	}
}
/* About Section */
#about {
    padding: 120px 0;
	
}

.about-img {
   /* Align image to the left */
  max-width: 300px;
  margin-left:  -15px;/* Adjust the maximum width as needed */
 

}

.about-text {
    margin-left: 10%; 
	align-items: end;
	line-height: 15px;/* Adjust the left margin to compensate for the image */
}
.about-text h2 {
    font-family: 'fat';
	line-height: 5px;/* Reduce la línea de separación */
    font-size: 120%;
}

.about-text h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #B7CD02;
    font-size: 120%;
  /* Reduce la línea de separación */
}

.about-text h4 {
    font-family: 'fat';
    font-size: 50%;
    text-align: end;
    max-width: 80%;
    line-height: 50%; /* Reduce la línea de separación */
}

.about-text h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40%;
    line-height: 1.2; /* Reduce la línea de separación */
    color: #B7CD02;
    text-align: end;
    width: 80%;
    margin-left: -12%;
}
.image-and-text {
    display: flex;
    align-items: center;
    gap: 2rem; /* Adjust the gap between the image and text */

}

.image-and-text img {
    max-width: 25%;

}

.about-text p {
    max-width: 60%;
    font-size: 50%;
}
@media screen and (max-width: 768px) {
	.about-text {
		margin-left: -120px;
		align-items: center;
		line-height: 15px;/* Adjust the left margin to compensate for the image */
	}
	.about-text h2 {
		font-family: 'fat';
		line-height: 5px;/* Reduce la línea de separación */
		font-size: 120%;
	}
	
	.about-text h3 {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #B7CD02;
		font-size: 120%;
	  /* Reduce la línea de separación */
	}
	
	.about-text h4 {
		font-family: 'fat';
		font-size: 50%;
		text-align: end;
		max-width: 80%;
		line-height: 50%; /* Reduce la línea de separación */
	}
	
	.about-text h5 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 40%;
		line-height: 1.2; /* Reduce la línea de separación */
		color: #B7CD02;
		text-align: end;
		width: 80%;
		margin-left: -12%;
	}
	.image-and-text img {
		max-width: 8%;
		margin-top: -60px;
       	margin-left: 130px;
		
	}
	
	.about-text p {
		max-width: 60%;
		font-size: 50%;
		margin-left:-20px; ;
		margin-top: 40px;
	}	
	.about-img {
		float: left; /* Align image to the left */
	  max-width: 200px;
	  margin-left:  -15px;
	  margin-top: 130px;
	  /* Adjust the maximum width as needed */
	 
	
	}
}
/* Responsive adjustments using relative units */
.about-img img {
    max-width: 100%; /* the image scales responsively */
}

.about-text {
    font-size: clamp(2rem, 5vw, 4rem); /* Adjust font size based on viewport width */
}

/* Menu Section */



.baner {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.baner p{

	color: #000000;;
}
.tipo p{color: #000000;}

.first {
	width: 50%;
    background-color: #B7CD02;
    color: #000000;
	padding: 50px;
	max-height: 500px;
}

.highlight{
	font-family: 'fat';
	font-size: 50px;
	color: black;
}

.first h3 {
    
    color: #000000;
}



.second {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columnas */
    gap: 20px; /* Espacio entre los elementos */
    background-color: #2b2b2b;
    padding: 20px;
    color: #ffffff;
	width: 50%;
	height: 500px;
	border-radius: 10px;
}

.feature {
    display: flex;
    align-items: center;
}

.feature .icon {
    margin-right: 10px;
    width: 50px;
    height: auto;
}
@media screen and (max-width: 768px) {
	.first {
		width: 50%;
		background-color: #B7CD02;
		color: #000000;
		padding: 20px;
		max-height: 500px;
	}
	
.baner p{
font-size: 15px;
 
	color: #000000;
	
}
.highlight{
	font-family: 'fat';
	font-size: 30px;
	color: black;
}
.tipo ul{
	font-size: 10px;
	
}
.tipo{
	margin-top: -10px;
}
.first h3 {
    font-size: 11px;
    color: #000000;
	margin-bottom: 20px;
}
}

/*prevent*/
.prevent {
 
    padding: 50px;
    border-radius: 10px;
}

.prevent h1 {
	color: #38465A;
    font-size: 24px;
    margin-bottom: 20px;
}

.prevent h2 {
    font-size: 36px;
    color:#38465A;
	
}

.prevent button {
    background-color:#d3db2e;
    color: white;
    padding: 1px 20px;
    border-radius: 5px;
    border: none;
	font-weight: 700;
	height: 40px;
    cursor: pointer;
	font-size: 28px;
}

.prevent p {
    font-size: 20px;
    margin-top: 20px;
}



/* Portfolio Section */
#portfolio {
	padding: 0 0 120px 0;
}

/* Contenedor del carrusel */
.slider-container {
	position: relative;
   min-width: 300px; /* Tamaño máximo de la imagen */
	min-height: 200px; /* Tamaño máximo de la imagen */
	overflow: hidden;
	margin: auto;
	padding-left: 35px;
	
  }
  
  /* Las diapositivas (slides) */
  .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	
  }
  
  /* Las imágenes dentro de las diapositivas */
  .pos {
	  width: 80%;
	  height: 80%;
	  object-fit: cover;
	  
	}

/* Mostrar la diapositiva activa */
.slide.active {
  opacity: 1;
}


/* CARDS */


.pricing-container {
	max-width: 900px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 80%;
	text-align: start;
	
  }
  
  
  .highlight {
	color: #B7CD02;
	font-style: italic;
  }
  .text1{
	text-align: center;
	line-height: 0.7;
	

  }
  .pricing-card {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 20px;
  
  }
  .price {
	text-align: center;
	font-size: 130%;
	font-weight: bold;
	color: #7CC20A;
	margin-bottom: 20%;
  }
  .card {
	flex: 1;
	padding: 5%;
	border: 2px solid #B7CD02;
	border-radius: 8px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	width: 45%;
	background-color: #fff;
	transition: all 400ms ease;
  
  }
  .star {
	display: block;
	margin: 0 auto;
  }
  .card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
  }
  .card h3 {
	font-weight: lighter;
	font-size: 90%;
	color: #333;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 900;
  }
  
  
  .card p {
	font-size: 90%;
	color: #333;
  }
  
  .icon {
	width: 10%;
	height: 10%;
	margin-right: 10px;
  }
  
  .profitability {
	font-size: 16px;
	margin-top: 20px;
	color: #333;
  
	text-align: center;
  }
  
  .rating {
	display: flex;
	justify-content: center;
	margin-top: 10px;
  }
  
  .card .dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #B7CD02;
	margin: 0 3px;
	display: inline-block;
  }

  /*inversion*/

#bluedark{
	max-height: 700px;
	background-color: #0f1517ef;
	
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}


#texttitleicon {
	line-height: 0.8; /* Ajusta este valor para hacer el salto de línea más pequeño */
	margin: 0; 

	
  }
  
  #texttitleicon span {
	margin: 0;
	display: block; /* Asegura que el texto "𝔂 𝓻𝓮𝓷𝓽𝓪𝓫𝓲𝓵𝓲𝓭𝓪𝓭" se comporte como un bloque en su propia línea */

}
#bluedark h2{
	width: calc(59% - 10px);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	color: white;
	max-width: 900px;

}
#bluedark p {
	color: #ffffff;
	font-size: 0px;
	margin-right: 0%;
	
	width: calc(75% - 10px);
}

#input {
	display: flex;
	justify-content: center;
	 /* Alinea las imágenes en la parte inferior por defecto */
	gap: 80px;
	margin-bottom: 50px;
	/* Espacio entre los elementos */
  }

  #box {
	background-color: transparent;
		border: 2px solid #d3db2e;/* Fondo verde para el cuadro */
	padding: 20px; /* Espaciado interno para que los elementos no estén pegados al borde */
	border-radius: 10px; 
	max-height: 160px;/* Bordes redondeados */
	text-align: center;
	width: 26%; /* Ancho máximo del cuadro */
	box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.973);
	justify-content: space-between;
	margin-bottom: 5%;
	font-size: 20%
	 /* Sombra para darle un efecto de elevación */
  }
  
  #icon {
	max-width: 100%;
	padding: 5px; /* Asegura que las imágenes sean responsive */
	min-height: 90px;
  }

  #text2{
	font-size: 400%;
	color: rgb(249, 249, 249);
	font-weight: bold;
  }
 
  


  #yellow {
    background-color: #73a4116b;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 100%; /* Ajusta la altura según tus necesidades */
}
.imagenfam{
	max-width: 40%;
}
.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
}


.texto {
	padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
	
	text-align: end;
	
}
.texto h2{
	font-size: 150%;
}
.precio-box-container {
    display: flex;
    gap: 10px; /* Espacio de 20px entre las cajas de precio */
    margin-top: 20px;
    width: 100%;


}

.precio-box {
    background-color: #B6CD01; /* Ajusta el color verde según tu preferencia */
    padding: 20px;
    text-align: left;
	border-radius: 10px;
    width: 50%;
	font-size: 150%;

}

	

.precio-titulo {
    
    font-weight: bold;
	color: #38465A;
	
}
.precio-titulo img {
    width: 10%;
	
}
.precio-titulo span {
   font-size: 80%;
 
	
}
.precio-original {
    font-size: 100%;
	text-align: end;
color: #ffffff;
}
.precio-descuento {
	font-size: 100%;
	color: #ffffff;
	text-align: end;
  }
  .precio-descuento span {
	font-size: 100%;
	color: #000000;
  }
  @media screen and (max-width: 768px) {
	.precio-box-container {
		display: flex;
		gap: 10px; /* Espacio de 20px entre las cajas de precio */
		margin-top: 20px;
	width: 100%;
	height: 180px;

	
	}
	.precio-original {
		font-size: 100%;
		text-align: end;
	color: #ffffff;
	}
	
	.precio-titulo span{
		font-size: 55%;
	}
	  .precio-descuento span {
		font-size: 50%;
		color: #000000;
	  }

	.precio-box {
		background-color: #B6CD01; /* Ajusta el color verde según tu preferencia */
		padding: 20px;
		text-align: left;
		border-radius: 10px;
		width: 95%;
		height: 50%;
		font-size: 150%;
	
	}
  }

  /*testimonials*/

  .content-container {
	text-align: center;
	padding: 20px;

}
.main-heading {
	font-family: 'Arial', sans-serif;
	font-size: 5rem;
	font-weight: normal;
	color: #000000;
	
	line-height: 0.5;
}
.accent-text {
	font-style: italic;
	color: #b5d33d;
}
.bold {
	font-weight: bold;
}
.subheading {
	font-family: 'Arial', sans-serif;
	font-size: 25px;
	color: #5D6167;
	width: 80%;
	padding-left: 20%;
	margin-top: 10px;
}

  .testimonials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.tarjeta {
    position: relative;
	background: linear-gradient(to bottom, #ffffff00 50%, #b5d33d 50%);

    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    width: 250px;
	transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.tarjeta:hover {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.tarjeta img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
	transition: transform 0.5s ease;
}

.tarjeta h3 {
    font-size: 1.5em;

	color: #000000;
}

.tarjeta p {
    font-size: 1.8em;
    margin-bottom: 15%;
	color: #B6CD01;
}
.tarjeta:hover img {
    transform: scale(1.1) rotate(-2deg);
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    pointer-events: none;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.tarjeta .description {
   
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2em;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    pointer-events: none;
}

@media (max-width: 768px) {
    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .tarjeta {
        width: 90%;
    }
}
/* list */
.faq {
    margin: 20px;
	border-radius: 10px;
	
}

.question {
	
    background-color: #b5cd01aa;
    padding: 15px;
	max-width: 70%;
	margin-left: 15%;
	
    cursor: pointer;
	border-radius: 10px;
	color: #000000;
	height: 45px;
	
}
.question p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	font-weight: bolder;
}

.answer {
    display: none;
	background-color: #b5cd0152;
    padding: 0 15px;
	color: #38465A;
	max-width: 70%;
	margin-left: 15%;
	text-align: justify;
	border-radius: 10px;
	transition: max-height 0.8s ease-out;
	
}
.answer.active {
    max-height: 200px; /* Ajusta este valor según la altura máxima esperada */
}
/* Footer Section*/
.footer {
	background-color: #0F1517;
	color: #ffffff;
	padding: 40px 20px;
	max-height: 300px;
  }
  
  .footer-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .footer-logo img {
	max-height: 80px;
	padding-left: 20%;
  }
  
  .footer-column {
	display: flex;
	flex-direction: column;
	text-align: justify;
	margin-right: 20%;
  }
  
  .footer-column h3 {
	font-weight: bold;
	margin-bottom: 15px;
  }
  
  .footer-column ul {
	list-style: none;
	padding: 0;
  }
  
  .footer-column ul li {
	margin-bottom: 10px;
  }
  
  .footer-column ul li a {
	color: #ffffff;
	text-decoration: none;
	transition: color 0.3s ease;
  }
  
  .footer-column ul li a:hover {
	color: #6e9b14;
  }
  
  .footer-socials {
	margin-top: 20px;
  }
  
  .footer-socials a {
	display: inline-block;
	margin-right: 15px;
  }
  
  .footer-socials img {
	width: 40px;
	height: 40px;
  }
  

@media screen and (max-width: 768px) {
	.second {
		display: grid;
		grid-template-columns: repeat(1, 1fr); /* 4 columnas */
		gap: 10px; /* Espacio entre los elementos */
		background-color: #2b2b2b;  
		width: 50%;
		min-height: 500px;
		font-size: 10px;
		border-radius: 10px;
	}
	.cards-container {
		flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
		align-items: center; /* Opcional: centrar las tarjetas */
	  }
	  
	  .card {
		width: 100%; /* Ocupa todo el ancho del contenedor */
		min-width: 0; /* Quita el ancho mínimo para que ocupe el 100% */
		margin-bottom: 20px; /* Espacio entre tarjetas */
	  }
	  
	  #input {
		display: flex;
		justify-content: center;
		align-items: flex-end; /* Alinea las imágenes en la parte inferior por defecto */
		gap: 10px;
		margin-bottom: 50px;
		/* Espacio entre los elementos */
	  }
	  
	  #box {
		background-color: transparent;
			border: 2px solid #d3db2e;/* Fondo verde para el cuadro */
		padding: 20px; /* Espaciado interno para que los elementos no estén pegados al borde */
		border-radius: 10px; /* Bordes redondeados */
		text-align: center;
		max-width: 200px;
		max-height: 100px; /* Ancho máximo del cuadro */
		box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.973);
		justify-content: space-between;
		margin-bottom: 30px; /* Sombra para darle un efecto de elevación */
	  }
	  
	  #icon {
		max-width: 50px;
		padding: 10px; /* Asegura que las imágenes sean responsive */
		min-height: 10px;
	  }
	  
	  .raised {
		margin-bottom: 20px; /* Ajusta este valor para elevar la segunda imagen */
	  }
	  
	  
	  #text1 {
		font-size: 15px;
		color:white ; /* Ajusta el tamaño de la fuente según tus necesidades */
	  }
	  #finaltitle p {
		color: #ffffff;
		font-size: 15px;
	}
	#bluedark p{
		color: white;
		text-align: center;
		
		padding: 15px;
		font-size: 15px;
		max-width: 700px;
	}
	#bluedark h2{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 22px;
		padding: 20px;
		color: white;
		max-width: 700px;
		transform: translate(-0%);
	}
	@media (max-width: 1024px) {
		.texto {
			padding: 30px;
		}
	
		.precio-box-container {
			gap: 15px;
		}
	
		.precio-titulo {
			font-size: 22px;
		}
	
		.precio-original, .precio-descuento {
			font-size: 16px;
		}
	}
	
	@media (max-width: 768px) {
		.texto {
			padding: 15px;
			align-items: flex-start; /* Cambia la alineación en pantallas pequeñas */
		}
	
		.precio-box-container {
			flex-direction: column; /* Cambia a disposición vertical en pantallas pequeñas */
			align-items: flex-start;
			gap: 10px;
		}
	
		.imagen {
			height: 200px; /* Reduce la altura de la imagen */
		}
	
		.precio-titulo {
			font-size: 10px;
		}
	
		.precio-original, .precio-descuento {
			font-size: 14px;
		}
		.prevent h1 {
			color: #38465A;
			font-size: 10px;
			margin-bottom: 10px;
		}
		
		.prevent h2 {
			font-size: 18px;
			color:#38465A;
			
		}
		.line {
			height: 5px;
			left: 100px;
			background: linear-gradient(to right, #d3db2e, #0099006e); /* Degradado de verde claro a verde oscuro */
		}
		.prevent button {
			background-color:#d3db2e;
			color: white;
			padding: 1px 20px;
			border-radius: 5px;
			border: none;
			font-weight: 700;
			height: 40px;
			cursor: pointer;
			font-size: 13px;
		}
		
		.prevent p {
			font-size: 20px;
			margin-top: 20px;
		}
		.prevent img{
			width: 80px;
		}
		
	}
	
	@media (max-width: 480px) {
		.texto {
			padding: 15px;
			text-align: left; /* Alinea el texto a la izquierda en pantallas muy pequeñas */
		}
	
		.precio-box {
			padding: 15px;
		}
	
		.precio-titulo {
			font-size: 18px;
		}
	
		.precio-original, .precio-descuento {
			font-size: 12px;
		}
	}
	
	}
@media screen and (min-width: 768px){

	.slider-container {
		position: relative;
		width: 700px; /* Tamaño máximo de la imagen */
		height: 500px; /* Tamaño máximo de la imagen */
		overflow: hidden;
		margin: auto;
	  }
	  
	  /* Las diapositivas (slides) */
	  .slide {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 1s ease-in-out;
	  }
	  
	  /* Las imágenes dentro de las diapositivas */
	  .pos {
		width: 100%;
		height: 100%;
		object-fit: cover;
	  }
	  #bluedark p{
		color: white;
		text-align: center;
	    margin-left: 15%;	
		padding: 20px;
		font-size: 25px;
		max-width: 1000px;
	}
	#bluedark h2{
		color: white;
		max-width: 900px;
		margin-left: 20%;
		transform: translate(-0%);
	}
}