body, html {
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    background: url(../assets/images/wallpaper_general.jpg) no-repeat center center fixed;
    background-size: cover;
    font-weight: 300;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
}

@font-face {
	font-family: 'fat';
	src: url(../fonts/fonts/AdventuresUnlimited-ScriptBold.ttf);
  }
h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 34px;
	color: #333;
	
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #8eb640;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #8eb640;
	margin: 0;
	margin-bottom: 40px;
	border: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-family: 'Dancing Script', cursive;
	font-size: 36px;
	color: #8eb640;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #ddd;
	font-weight: 500;
	font-size: 15px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #8eb640;
}
.on {
	background-color: #262626 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #8eb640 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #8eb640;
	border-color: #8eb640;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	margin-bottom: 70px;
}
.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
	color: rgba(0, 0, 0, 0.8);
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #d3db2e;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.5s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #628d0f;
}
/* Header Section */
.container1{
	height: 100vh;
}
.intro {
    display: table;
    width: 100%;
    padding: 0;
    background-color: #e5e5e5;
    background-image: url(../assets/images/image_front_page.png); /* Ruta de la imagen */
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.intro .overlay {

    background: linear-gradient(to right, #ffffff, rgba(245, 235, 202, 0.733), rgba(0, 0, 0, 0));
height: 100vh;
}
.container1{
	display: flex;
}
.intro h1 {
	font-family: 'arial', cursive;
	color:  #B7CD02;;

	font-weight: 700;
	margin-top: 0;
	font-size: 30px;

}

.intro p {
	color: #000000;
	font-size: 180%;
	font-weight: 900;
	line-height: 1;


}

.textostitulos{
	height: 40%;
	margin-left: 6%;
	width: 40%;

	margin-top: 20%;
	
}
.textostitulos img {
	height: 50%;
	
	width: 60%;

	
}
.barra{
	position: relative;
	text-align: center;
	background-color: #BDD21B;
	height: 11%;
	padding: 1%;
	font-size: 1.2vw;
	width: 100vw;
	margin-top: -8%;
}
.barra p{
	position: relative;
	
	font-weight:900;
	color: #384347;

}
.lineacolor{
	position: relative;
	background: linear-gradient(1deg, #B6CD01, #FFFFFF);
	height: 10px;
	
}
.imagenes{

	width: 35%;
	height: 100%;

margin-left: 10%;
display: flex;
  align-items: flex-end;
}

/*boton diseno*/



/* Definición de las animaciones */
@keyframes fadeInUp {
	from {
	  opacity: 0;
	  transform: translateY(20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  /* Aplicando las animaciones a los elementos */
  header .textostitulos img {
	width: 70%;
	opacity: 0;
	animation: fadeInUp 1s ease-in-out forwards;
  }
  
  header .textostitulos h1 {
	opacity: 0;
	animation: fadeInUp 1s ease-in-out forwards;
	animation-delay: 0.5s; /* Aparece después de la imagen */
  }
  
  header .textostitulos p {
	opacity: 0;
	animation: fadeInUp 1s ease-in-out forwards;
	animation-delay: 1s; /* Aparece después del título */
  }
  .imagenes img{
	opacity: 0;
	animation: fadeInUp 1s ease-in-out forwards;
	animation-delay: 1.5s;
  }

@media screen and (max-width:968px) {
	
	
	.intro {
		display: table;
		width: 100%;
		padding: 0;
		font-size: 50%;
		background-color: #e5e5e5;
		background-image: url(../assets/images/image_front_page.png); /* Ruta de la imagen */
		background-size: cover; /* Hace que la imagen cubra todo el contenedor */
		background-repeat: no-repeat; /* Evita que la imagen se repita */
		background-position: center; /* Centra la imagen en el contenedor */
		
	  
		
	}
	.intro .overlay {

		background: linear-gradient(to bottom, #ffffff, rgba(245, 235, 202, 0.733), rgba(0, 0, 0, 0));
	height: 100vh;
	}
.container1{
	display:inline-table;
}
.intro h1 {
	font-family: 'arial', cursive;
	color:  #B7CD02;
	font-weight: 700;
	margin-top: 0;
	font-size: 30px;

}
.textostitulos{
	margin-top: 0%;
	width: 80%;

height: 50vh;
}
.imagenes{
	margin-left:0%;
	width: 100%;
	height: 50vh;

	margin-top: 15%;
	align-items: center;
	margin-top: 0%;
}
.textostitulos img{
	margin-top: 50px;
	max-height:30% ;
}
.intro p {
	color: #000000;
	font-size: 300%;
	font-weight: 600;
	line-height: 0.8;

}

.imagenes img {
	max-width: 90%;
	height: 100%;
	
  }
  .barra{
	position: relative;
	text-align: center;
	background-color: #BDD21B;
	margin-top: -8vw;
	height: 4%;
	font-size: 80%;
}
.barra p{
	position: relative;
	margin-left: 0%;
	font-weight:900;
	color: #384347;

}
.lineacolor{
	position: relative;
	background: linear-gradient(1deg, #B6CD01, #FFFFFF);
	height: 10px;
	
}
}
/* About Section */
#about {
    padding: 15% ;
	margin-bottom: -80px;
	
}
.containerabout {
 
}
.containerabout img {  
	
}
.about-img img {
 
	width: 60%;
  margin-left:  -18%;/* Adjust the maximum width as needed */
  box-shadow: 0 1px 10px rgba(0, 0, 0, 1.477);
  margin-top: -60%;
}

.about-text {
   
	width: 100%;
	margin-bottom: 9%;
	/* Adjust the left margin to compensate for the image */
}
.about-text h2 {
    font-family: 'fat';
	text-align: end;
    width:28%;
	font-weight: 900;
    font-size: 4vw;
	margin-left: 21%;
	margin-bottom: 3%;
	line-height: 100px;
}

.about-text h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #B7CD02;
    font-size: 5.5vw; /* Tamaño de fuente relativo al ancho del viewport */
    margin-top: -6%;
    width: 100%;
    text-align: end;
}


.about-text h4 {
    font-family: 'fat';
    font-size: 100%;
    text-align: end;
    max-width: 100%;
    line-height: 50%;
	 font-weight: bolder;
}

.about-text h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40%;
    line-height: 1.8; /* Reduce la línea de separación */
    color: #B7CD02;
    text-align: end;
    width: 100%;
	font-weight: 100;
	margin-top: -1%;
	font-weight: 900;
}
.image-and-text {
    display: flex;
    align-items: center;
	text-align: justify;
	margin-left: 45%;
    gap: 1rem; /* Adjust the gap between the image and text */
	width: 60%;
	font-size: 1vw;
	margin-bottom: 30%;
	
}
.image-and-text img{
  width: 40px; /* Adjust the gap between the image and text */
  margin-top: -40px;
  
}
.image-and-text p {
    max-width: 100%;
    font-size: 160%;
	line-height: normal;
}
/* Responsive adjustments using relative units */


.about-text {
    font-size: clamp(2rem, 5vw, 4rem); /* Adjust font size based on viewport width */
}

/* baner Section */



.baner {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
	height: 800px;
}
.baner p{
  font-size: 170%;
	color: #ffffff;;
}
.tipo p{color: #000000;
font-size: 170%;}

.first {
	width: 50%;
    background-color: #B7CD02;
    color: #000000;
	padding: 50px;
	max-height: 600px;
}

.first ul {
margin-left: 15%;
margin-top:-6%;
font-weight: 900;
font-size: 170%;
}
.bantitle{
	text-align: center;
	line-height: 40%;
	width: 100%;
	font-size: 180%;
}
.highlight{
	font-family: 'fat';
	font-size: 250%;
	color: black;
	text-align: center;
}

.first h3 {
	margin-top: 10%;
    font-weight: 900;
    color: #38465A;
	font-size: 200%;
}



.second {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columnas */
    gap: 20px; /* Espacio entre los elementos */
    background-color: #2b2b2b;
    padding: 20px;
    color: #ffffff;
	width: 50%;
	font-size: 150%;
	font-weight: 900;
	max-height: 600px;
	
}

.feature {
    display: flex;
    align-items: center;
	font-size: 120%;
}

.feature .icon {
    margin-right: 10px;
   max-width: 150%;
    height: auto;
}
@media screen and (max-width: 990px) {

	#about {
		padding: 4% ;
		height: 100vh;
	}
	.containerabout {
 height: 100vh;
 display: grid;
 margin-top: 0px;
 margin-bottom: 0px;
	}
	.about-text{
		width: 100%;
		align-items: center;
		margin-top: 0px;
		margin-bottom: -30%;
		margin-left: 0px;
		margin-right: 0px;
		height: 15vh;
	
	}
	.about-text h2 {
		font-family: 'fat';
		width:60%;
		font-size: 170%;
		margin-left: 1%;
		font-weight: 900;
		line-height: 40px;
		margin-bottom: 3%;
		
	}
	
	.about-text h3 {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #B7CD02;
		font-size: 145%;
		margin-top: -6%;
		width: 100%;
		text-align: start;
	   
	  /* Reduce la línea de separación */
	}
	
	.about-text h4 {
		font-family: 'fat';
		font-size: 110%;
		text-align: end;
		max-width: 100%;
		line-height: 50%; 
		 margin-top: -1%;/* Reduce la línea de separación */
		 font-weight: bolder;
	}
	
	.about-text h5 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 60%;
		line-height: 1.2; /* Reduce la línea de separación */
		color: #B7CD02;
		text-align: end;
		width: 100%;
		font-weight: 700;
		margin-top: -1%
	}
	.image-and-text {
		display: grid;
	align-items: start;
		gap: 1rem; /* Adjust the gap between the image and text */
		width: 100%;
		height: 20vh;
		margin-left: 0px;
		margin-bottom: 0px;
		max-height: 27vh;
		margin-top: 0%;
		font-size: 2vw;
	}
	.image-and-text img{
		max-width: 15%; /* Adjust the gap between the image and text */
       margin-bottom:0%;
	  }
	  .image-and-text p {
		  max-width: 100%;
		  font-size: 200%;
		  margin-top: 0px;
		  line-height: normal;
		  color: #5D6167;
		  margin-top: -8%;
	  }
	.about-img img {
 
		width: 75%;
		height: auto;
	  margin-left:  0%;/* Adjust the maximum width as needed */
	margin-top: 0px;
	margin-bottom:0px ;
	
	}
	.about-img {
		max-width: 100%;
		height: 33vh;	
		display: flex; /* Activa Flexbox */
		justify-content: center; /* Centra horizontalmente el contenido */
		align-items: flex-end;
		padding: 0px;
		margin-top: -35%;
	}
	.baner {
	
	 display: block;

		color: #ffffff;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	}
	.first {
width: 100%;

	}
	.bantitle{
		text-align: center;
		line-height: 40%;
		width: 100%;
		font-size: 160%;
	}
	.highlight{
		font-family: 'fat';
		font-size: 50px;
		color: black;
		text-align: center;
	}
	.first h3 {
		margin-top: 10%;
		font-weight: 900;
		color: #38465A;
	}
	.baner p{
		font-size: 100%;
		  color: #ffffff;;
	  }
	  .tipo p{
		color: #000000;
		font-size: 120%;
	}
	.first ul {
		margin-left:23%;
		width: 80%;
		font-weight: 900;
		font-size: 100%;
		margin-top:-30px;
		}
		.second {
			display: grid;
			grid-template-columns: repeat(2, 1fr); /* 2 columnas */
			gap: 20px;
			width: 100%; 
			text-align: center;
		}
		.first, .second {
			max-width: 100%; /* Evitar que crezcan más allá del contenedor */
		}
		.feature {
			display: grid;
			font-size: 70%;
		
			

		}
		
		.feature .icon {
			margin-left: 40%;
		   width: 12%;
			height: auto;
		}


}


/* Portfolio Section */
#portfolio {
	padding-top: 0%;
	width: 65%; /* Cubre el 80% del ancho del contenedor */
	margin: 0 auto; /* Centrar el contenedor en la página */
	overflow: hidden;
	height: auto; /* Ocultar las imágenes que se salen del contenedor */
  }
  
  .slider-container {
	display: flex;
	transition: transform 1s ease-in-out; /* Transición suave entre las imágenes */
	width: 100%;
	height: auto; /* Asegura que el contenedor ocupe todo el ancho */
  }
  
  .slide {
	min-width: 100%; /* Cada slide ocupa todo el ancho del contenedor */
	transition: transform 1s ease-in-out;
  }
  
  img.pos {
	width: 100%; /* Asegura que la imagen ocupe todo el ancho de cada slide */
	height: auto; /* Mantiene la relación de aspecto de la imagen */
  }
  
@media screen and (max-width: 968px) {
	#portfolio {
		padding-top: 5%;
		width: 100%; /* Cubre el 80% del ancho del contenedor */
		margin: 0 auto; /* Centrar el contenedor en la página */
		overflow: hidden; /* Ocultar las imágenes que se salen del contenedor */
	  }
}

/* CARDS */

.pricing-container {
    width: 80%;
	margin: 20px auto;
	text-align: start;
	
  }
  
  
  .highlight {
	color: #B7CD02;
	font-style: italic;
  }
  .text1{
	text-align: center;
	line-height: 0.7;
	font-size: 350%;

  }
  .pricing-card {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 10px;
  width: 100%;
  font-size: larger;
  }
  .price {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	color: #7CC20A;
	width: 100%;
	
  }

  .card {
	flex: 1;
	padding: 5%;
	border: 2px solid #B7CD02;
	border-radius: 8px;
	letter-spacing: -1px;
	background-color: #fff;
	transition: all 400ms ease;
  
  }
  .star {
	display: block;
	margin:  auto;
	max-height: 8%;
	margin-top: -10%;
	margin-bottom:5%;
  }
  .card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
  }
  .card h3 {
	font-weight: lighter;
	font-size: 150%;
	color: #333;
	text-align: center;
	margin-top: 0px;
	font-weight: 900;
	
  }
  
  
  .card p {
	font-size: 110%;
	color: #333;
	width: 100%;
	margin-left: 15%;
	text-align: start;
	margin-top: -15%;
margin-left: 16%;  }
    

  .icon {
	width: 10%;

  }
  
  .profitability {
	font-size: 10;
	margin-top: -30px;
	color: #333;
	width: 100%;
	text-align: center;
  }
  
  .rating {
	display: flex;
	justify-content: center;
	margin-top: 10px;
  }
  
  .card .dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #B7CD02;
	margin: 0 3px;
	display: inline-block;
  }
  @media screen and (max-width: 658px) {
	.pricing-container {
		display: flex;
		justify-content: center; /* Centra horizontalmente */
		align-items: center;     /* Centra verticalmente */
		flex-direction: column;  /* Si tienes múltiples elementos y quieres que estén en una columna */
		width: 100%;
		margin: 20px auto;
		min-height: 100vh;
		/* Para asegurar que se centre verticalmente en toda la pantalla */
	}
	.text1{
		text-align: center;
		line-height: 0.7;
		font-size: 250%;
	
	  }
	.pricing-card {
		display: grid;
		justify-content: center;
		align-items: center;
		width: 100%;
		
		padding: 20px;
		box-sizing: border-box;
	  }
	  
	  .card {
		border: 2px solid #B7CD02;
		border-radius: 8px;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 1.2);
		letter-spacing: -1px;
		background-color: #fff;
		transition: all 400ms ease;
		margin: 20px; /* Agrega espacio entre las cards */
		flex: 1;
		max-width: 300px; /* Ajusta el ancho máximo de las tarjetas */
	  }
	  
	  .star {
		display: block;
		margin:  auto;
		max-height: 8%;
		margin-top: 0%;
		margin-bottom:5%;
	  }

  }
/*prevent*/
.prevent {
	text-align: center;
	   padding: 50px;
	   border-radius: 10px;
   }
   
   .prevent h1 {
	   color: #38465A;
	   font-size: 24px;
	   margin-bottom: 20px;
   }
   
   .prevent h2 {
   
	   font-size:400%;
	   color:#38465A;
   
   }
   
   @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0); /* Posición original */
	}
	40% {
	  transform: translateY(-10px); /* Subir */
	}
	60% {
	  transform: translateY(-5px); /* Bajada intermedia */
	}
  }
  
  .prevent button {
	background-color: #d3db2e;
	color: white;
	width: 35%;
	
	padding: 1px 20px;
	border-radius: 5px;
	border: none;
	font-weight: 700;
	height: 60px;
	cursor: pointer;
	font-size: 20px;
	animation: bounce 2s infinite; /* Agrega la animación */
	box-shadow: 0 1px 10px rgba(0, 0, 0, 1.2);

  }
  .botonregistro{
	text-align: center;
margin-left: 50%;
margin-top: -20%;
	width: 45%;
	border-radius: 10px;
	/**box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);**/
  }
  .botonregistro button {
	background-color: #d3db2e;
	color: white;
	width: 90%;	
	padding: 1px 20px;
	border-radius: 10px;
	border: 4px solid #38465A; /* Borde negro */
	font-weight: 700;
	height: 60px;
	cursor: pointer;
	font-size: 20px;
	animation: bounce 2s infinite; /* Animación de rebote */
}
.botonregistro img {
	position: relative;
margin-left: -2%;
margin-top: 12%;
animation: bounce 2s infinite; /* Animación de rebote */
	
}

  
   .prevent button img {
	max-width: 22px; /* Ajusta el tamaño de las imágenes */
	margin: 0 5px; /* Espacio entre el texto y las imágenes */
}
   
   .prevent p {
	   font-size: 20px;
	   margin-top: 20px;
   }
   #finlogo{
	width: 20%;
}
   @media (max-width: 760px){
	#finlogo{
		width: 40%;
	}
	   
	   .prevent h1 {
		   color: #38465A;
		text-align: center;
		
		   font-size: 14px;
		   margin-bottom: 20px;
		   font-weight: 800;
		  margin-bottom: 15%;
	   }
	   
	   .prevent h2 {
	   
		   font-size:250%;
		   color:#38465A;
	   line-height: 65%;
	   }
	   
	   .prevent button {
		background-color: #d3db2e;
		color: white;
		text-align: center; /* Centra el contenido */
		border-radius: 7px;
		border: none;
		font-weight: 600;
		height: 40px;
		cursor: pointer;
		font-size: 100%;
		width: 100%; /* Asegura que no se salga del contenedor padre */
		margin-left: 0; /* Elimina el desbordamiento del margen */
		display: flex; /* Alinea el contenido del botón en línea */
		justify-content: center; /* Centra el contenido horizontalmente */
		align-items: center; /* Centra verticalmente el contenido */
		padding: 5px; /* Agrega espacio interno */
		overflow: hidden; /* Evita que el contenido se desborde */
	}
	
	.prevent button img {
		max-width: 20px; /* Ajusta el tamaño de las imágenes */
		margin: 0 5px; /* Espacio entre el texto y las imágenes */
	}
	
	   
	   .prevent p {
		   font-size: 20px;
		   margin-top: 20px;
	   }
	
	   .botonregistro{
		text-align: center;
        margin-top: -50%;
		border-radius: 10px;
		margin-left: 0%;
		width: 100%;
		position: relative;
		
	  }
	  .botonregistro img {
	width: 9%;
	  }

}

  /*inversion*/

#bluedark{
	max-height: 700px;
	background-color: #0f1517ef;
}


#texttitleicon {
	line-height: 0.8; /* Ajusta este valor para hacer el salto de línea más pequeño */
	margin: 0; 

	
  }
  #subttitleicon{
	max-width: 80%;
	margin-left: 10%;
  }
  #texttitleicon span {
	margin: 0;
	display: block; /* Asegura que el texto "𝔂 𝓻𝓮𝓷𝓽𝓪𝓫𝓲𝓵𝓲𝓭𝓪𝓭" se comporte como un bloque en su propia línea */

}
#finaltitle{
	font-size: 500%;
margin-top: -3%;
}
#bluedark h2{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	color: white;
	max-width: 200%;
	text-align: center;
}
#bluedark p {
	color: #ffffff;
	font-size: 25px;
	margin-right: 0%;
	
	
}

#input {
	display: flex;
	justify-content: center;
	 /* Alinea las imágenes en la parte inferior por defecto */
	gap: 80px;
	margin-bottom: 50px;
	/* Espacio entre los elementos */
  }

  #box {
	background-color: transparent;
		border: 2px solid #d3db2e;/* Fondo verde para el cuadro */
	padding: 20px; /* Espaciado interno para que los elementos no estén pegados al borde */
	border-radius: 10px; 
	max-height: 170px;/* Bordes redondeados */
	text-align: center;
	width: 12%; /* Ancho máximo del cuadro */
	justify-content: space-between;
	margin-bottom: 5%;
	font-size: 30%
	 /* Sombra para darle un efecto de elevación */
  }
  
  #icon {
	max-width: 100%;
	padding: 5px; /* Asegura que las imágenes sean responsive */
	min-height: 8px;
  }

  #text2{
	font-size: 400%;
	color: rgb(249, 249, 249);
	font-weight: bold;
  }
  @media (max-width: 660px) {
	#bluedark{
		max-height: 100vh;
		background-color: #0f1517ef;
		font-size: 15px;
	}
	#texttitleicon {
		line-height: 0.6; /* Ajusta este valor para hacer el salto de línea más pequeño */
		margin: 0; 
		
	  }
	  #texttitleicon span {
		margin: 0;
		display: block; /* Asegura que el texto "𝔂 𝓻𝓮𝓷𝓽𝓪𝓫𝓲𝓵𝓲𝓭𝓪𝓭" se comporte como un bloque en su propia línea */
	
	}
	#subttitleicon{
		text-align: justify;

	}
	#bluedark h2{
		
		font-family: Arial, Helvetica, sans-serif;
		font-size: 200%;
		color: white;
		max-width: 200%;
		text-align: center;
		font-weight: 600;
		margin-bottom: 15px;
	}
	#bluedark p {
		color: #ffffff;
		font-size: 10px;
		margin-right: 0%;
		max-width: 90%;
		text-align: center;
		margin-left: 5%;
	}
	
	#input {
		display: grid;
		justify-content: center;
		 /* Alinea las imágenes en la parte inferior por defecto */
		gap: 10px;
		margin-bottom: 50px;
		/* Espacio entre los elementos */
	  }
	
	  #box {
		background-color: transparent;
			border: 2px solid #d3db2e;/* Fondo verde para el cuadro */
		padding: 20px; /* Espaciado interno para que los elementos no estén pegados al borde */
		border-radius: 10px; 
		max-height: 120px;/* Bordes redondeados */
		text-align: center;
		width: 28vw; /* Ancho máximo del cuadro */
		justify-content: space-between;
		margin-bottom: 5%;
		font-size: 20%
		 /* Sombra para darle un efecto de elevación */
	  }
	  
	  #icon {
		max-width: 60%;
		margin-top: -10%;
		
	  }
	
	  #text2{
		font-size: 400%;
		color: rgb(249, 249, 249);
		font-weight: bold;
	  }
	  #finaltitle{
		margin-top: -10%;
	}
  }
  


  #yellow {
    background-color: #73a4116b;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 50%;
	 /* Ajusta la altura según tus necesidades */
}

.imagenfam{
	margin-left: -2%;
width: 100%;
margin-top: -10%;
}
.container {
    display: flex;
    align-items: flex-start;
  
}
.texto {
	padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
	width: 80%;
	height: 90%;
	text-align: end;
	
	

}
.texto h2{
	font-size: 140%;
}
.precio-box-container {
    display: flex;
    gap: 10px; /* Espacio de 20px entre las cajas de precio */
   height: 80%;
    width: 100%;
	

}

.precio-box {
    background-color: #B6CD01; /* Ajusta el color verde según tu preferencia */
    padding: 20px;
    text-align: left;
	border-radius: 10px;
    width: 90%;
	font-size: 150%;
	

}
.precio-box img {

width: 10%;
}
	
.cheque{
	width: 100%;
}
.cheque img {
	width: 70%;
}
.precio-titulo {
    
    font-weight: bold;
	color: #38465A;
	
}

.precio-titulo span {
   font-size: 80%;
 
	
}
.precio-original {
    font-size: 100%;
	text-align: end;
color: #ffffff;
}
.precio-descuento {
	font-size: 100%;
	color: #ffffff;
	text-align: end;
  }
  .precio-descuento span {
	font-size: 100%;
	color: #000000;
  }
  @media (max-width: 768px) {
	#yellow {
		background-color: #73a4116b;
		display: grid;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		height: 50%;
		 /* Ajusta la altura según tus necesidades */
	}
	.precio-box-container {
		display: grid;
		gap: 10px; /* Espacio de 20px entre las cajas de precio */
	   height: 80%;
		width: 90%;
	}
	.precio-box {
		background-color: #B6CD01; /* Color de fondo verde */
		border-radius: 10px;
		border: 2px solid white; /* Borde blanco de 10px */
		width: 100%;
		font-size: 150%;
	}
	
	.texto {
		font-size: 140%;
		width: 95%;
	}
  }

  /*testimonials*/

  .content-container {
	text-align: center;
	padding: 20px;

}
.main-heading {
	font-family: 'Arial', sans-serif;
	font-size: 5rem;
	font-weight: normal;
	color: #000000;
	
	line-height: 0.5;
}
.accent-text {
	font-style: italic;
	color: #b5d33d;
}
.bold {
	font-weight: bold;
}
.subheading {
	font-family: 'Arial', sans-serif;
	font-size: 25px;
	color: #5D6167;
	width: 80%;
	padding-left: 20%;
	margin-top: 10px;
}

  .testimonials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.tarjeta {
    position: relative;
	background: linear-gradient(to top, #B6CD01 50%, rgba(255, 255, 255, 0) 50%);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    width: 450px;
	max-height: 350px;
	transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.tarjeta:hover {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.tarjeta img {
    width: 80px;
    height: 80px;
    object-fit: cover;
	transition: transform 0.5s ease;
}


.tarjeta h3 {
    font-size: 1.5em;
	color: #000000;
}

.tarjeta p {
    font-size: 140%;
 
	color: #B6CD01;
}
.tarjeta:hover img {
    transform: scale(1.1) rotate(-2deg);
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    pointer-events: none;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.tarjeta .description {
   
    padding: 15px;
    border-radius: 10px;
    font-size: 140%;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    pointer-events: none;
}

@media (max-width: 768px) {
	.subheading {
		font-family: 'Arial', sans-serif;
		font-size: 18px;
		color: #5D6167;
		width: 80%;
		padding-left: 20%;
		margin-top: 10px;
	}
	.testimonials {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 80px;
		line-height: 70%;
	}
	.tarjeta img {
		width: 20%;
		height: 20%;
		
		margin-left: -90%;
		transition: transform 0.5s ease;
		margin-top: -80%;
		margin-bottom: 0%;
	}
	.tarjeta {
		position: relative;
		background-color: #B6CD01;
		border-radius: 15px;
		padding: 20px;
		text-align: center;
		color: #ffffff;
		font-weight: bold;
		width: 350px;
		max-height: 100px;
		transition: transform 0.5s ease, box-shadow 0.5s ease;
	}
	.tarjeta h3 {
		font-size: 1.2em;
		color: #000000;
	width: 100%;
	text-align: start;
	margin-left: 18%;
	line-height: 5%;
	
	}
	
	.tarjeta p {
		font-size: 100%;
		color: #B6CD01;
		width: 80%;
		text-align: start;
		margin-left: 18%;
	}
	.tarjeta .description {

		padding: 15px;
		border-radius: 10px;
		font-size: 90%;
		margin-top:-30%;
	}
	.hijocontent{
		transform: scaleY(100%);
		transform: translateY(-80px);
		margin-bottom: 10%; 

	}
	

}
/* list */
.faq {
    margin: 20px;
	border-radius: 10px;
	
}

.question {
	
    background-color: #b5cd01aa;
    padding: 15px;
	max-width: 80%;
	margin-left: 10%;
	
    cursor: pointer;
	border-radius: 10px;
	color: #000000;
	height: 45px;
	
}
.question p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bolder;
	text-align: center;
}

.answer {
    display: none;
	background-color: #b5cd0152;
    padding: 0 15px;
	color: #38465A;
	max-width: 80%;
	margin-left: 10%;
	text-align: center;
	border-radius: 10px;
	font-size: 100%;
	transition: max-height 0.8s ease-out;
	
}
.answer p{
	font-size: 150%; 
}
.answer.active {
    max-height: 200px; /* Ajusta este valor según la altura máxima esperada */
}

.contact_asesor {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  }
  
  .contact-button {
	background-color: #384347;
	border-radius: 10px;
	color: #fcfcfc;
	font-size: 150%;
	font-weight: 900;
	border: none;
	width: 30%;
	height: 30%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	animation: bounce 2s infinite; /* Agrega la animación */
	box-shadow: 0 1px 10px rgba(0, 0, 0, 1.2);
  }
  
  .contact-button img {
	height: 24px;
	width: 24px;
  }
  
  
.logoend{
	text-align: center;
	margin-bottom: -10%;
}
/* Footer Section*/
.footer {
	background-color: #0F1517;
	color: #ffffff;
	padding: 4% 2%;
  }
  
  .footer-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 120%;
	margin: 0 auto;
  }
  
  .footer-logo img {
	width: 70%;
	min-width: 30%;
	padding-left: 1%;
  }
  
  .footer-column {
	display: flex;
	flex-direction: column;
	text-align: start;
	margin-right: 10%;
  }
  
  .footer-column h3 {
	font-weight: bold;
	margin-bottom: 1.5%;
	font-size: 150%;
  }
  
  .footer-column ul {
	list-style: none;
	padding: 1;
  }
  
  .footer-column ul li {
	margin-bottom: 1%;
	font-size: 100%;
	letter-spacing: 10%;
  }
  
  .footer-column ul li a {
	color: #ffffff;
	text-decoration: none;
	transition: color 0.3s ease;
  }
  
  .footer-column ul li a:hover {
	color: #6e9b14;
  }
  
  .footer-socials {
	margin-top: 20;

  }
  
  .footer-socials a {
	display: inline-block;
	margin-right: 1.5%;
	width: 25%;
  }
  
  .footer-socials img {
	width: 100%;
	height: auto;
  }
  
  .paisaje {
    width: 100%;
    overflow: hidden; /* Asegura que no haya desbordamiento si la imagen es más grande */
}

.paisaje img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina los espacios en blanco debajo de la imagen si es un elemento en línea */
    object-fit: cover; /* Ajusta la imagen para que siempre cubra todo el contenedor */
}

@media screen and (max-width: 968px) {
	.contact-button {
		background-color: #384347;
		border-radius: 10px;
		color: #fcfcfc;
		font-size: 150%;
		font-weight: 900;
		border: none;
		width: 80%;
		height: 30%;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		animation: bounce 2s infinite; /* Agrega la animación */
		box-shadow: 0 1px 10px rgba(0, 0, 0, 1.2);
	  }
	.question p{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 90%;
		font-weight: bolder;
		text-align: center;
	}
	
	.answer p{
		font-size: 120%; 
	}

}

.open-form-btn {
	background-color: #b0cc3b;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 50px;
	
	
}
.form-header{
	font-size: 12px;

}
.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0F1517;
    padding: 20px;
    border-radius: 10px;
    border: 6px solid #b0ff00; /* Borde de color verde fluorescente */
          /* Sombra verde fluorescente adicional */
    width: 600px;
    max-width: 100%;
    z-index: 1000;
}


.close-form-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #ffffff00;
    font-size: 20px;
    cursor: pointer;
    text-align: end;
    transform: translateY(-400%); /* Mover 100px en el eje Y */
}
.registro{
	display: grid;
	
}
#dato{
	font-size: 15px;
	text-align: start;
	color: #ffffff
}

.input {
	border-radius: 40px;
	height: 180%;
	font-size: 18px;
	color: #ffffff;
	background-color: #82cd0169;
	text-align: center;

}
.submit-btn {
	display: inline-block;
	width: 100%;
	padding: 10px;
	background-color: #f9f4f4;
	text-align: center;
	border: none;
	border-radius: 30px;
	font-size: 25px;
	cursor: pointer;
	margin-bottom: 20px;
	
}

.social-icons {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 20px;

}
.social-icons img {
	
width: 170%;
	

}

	
